.App {
  text-align: center;
}

.App-header {
  color: #DE9D35;
  background-color: #1E2839;
  text-decoration-color: #DE9D35;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

span.url-info span {
  padding-left: 1rem
}

input.url-modify {
  margin-left: 1rem
}

.clickable {
  text-decoration: underline
}

a:link,
a:visited {
  color: #C68E22;
}
